@media screen and (max-width: 768px){
  nav#sp-nav nav#g-nav ul li a.mode{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

    border-top-width: 3px;
  }

  div#centre{
    height: 14vh;
  }

  h1.text-centre{
    position: fixed;
    width: 100vw;
    height: 14vh;
    display: inline-block;
    background-color: #000;

    padding-left: 5vw;
    text-align: left;
    font-size: 8vh;
    margin-top: 0;
    padding-top: 2.5vh;

    z-index: 2;
  }
}
